/* Global */
/* 다중 커서선택 : option + shift */
:root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);

    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;

    /* Size */
    --size-max-width: 1200px;
}

* {
    box-sizing: border-box;
}

body {
    /* 오픈산스가 에러날경우에 산스세리프로 */
    font-family: 'Open Sans', sans-serif;
    margin : 0;
}

h1,h2,h3,p,ul{
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    /* 링크 밑줄 지우기 */
    text-decoration: none; 
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline : 0;
    border : 0;
}

button:focus {
    outline: 1px solid transparent;
}

/* Common */
.section {
    padding: 4rem;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.2rem;
    margin:0.5rem 0;
}

.max-container{
max-width: var(--size-max-width);
margin: auto;
}
/* Header */
.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    /* 수직으로 중간정렬 */
    align-items: center;
    /* 제트인덱스 : 1이 없으면
    스크롤링 했을때 etc가 헤더를 
    덮어버림 그걸 방지하기위함 */
    z-index: 1;
    transition: all 300ms ease;
}

.header--dark {
    background-color: var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 36px;
    height: 36px;
}

.header__logo__title {
    font-size: 1.8rem;
}
.header__toggle {
    display: none;
    color: var(--color-white);
    font-size: 1.5rem;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    display: block;
    padding: 8px 16px;
    border-bottom: 1px solid transparent;
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

/* Home */
#Home {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    /* 찌그러진 이미지의 원래 비율유지하기 */
    object-fit: cover;
    /* 보더를 동그랗게 */
    border-radius: 100%;
    border: 3px solid var(--color-accent)
}

.home__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;

}

.home__title--strong {
    color: var(--color-accent)
}

.home__description {
    font-size: 1.3rem;
}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    /* border 썼더니 호버했을때
    컨텐츠가 밀리는현상이 있어서 그걸 방지하기위해
    아웃라인을 사용 */
    outline: 2px solid var(--color-accent);
}

/* About */
.majors {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
}

.major {
    background-color: var(--color-primary-variant);
    padding : 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    cursor: default;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}

.major__icon{
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease;
}

.major__title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.major:hover .major__icon {
    transform: rotate(-15deg) scale(1.2);
}

.jobs {
    text-align: start;  
}

.job {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
}

.job__name {
    color: var(--color-primary);
    font-size: 1.1rem;
}

.job__name2{
    color: var(--color-primary);
    font-size: 0.85rem;
}

.job__period{
    color: var(--color-primary);
    font-size: 0.8rem;
}

/* Skills */
#Skills {
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}

.skills {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    border-radius: 8px;
    /* 위에서 둥글게 박스를 만들어줬는데 실행해보면
    그대로 뾰족한 박스이다. 그 이유는 skills__coding에서
    백그라운드컬러(프라이머리)가 삐져나와서 그렇기때문에
    오버플로우-히든을 써주면서 삐져나온부분을 hidden시킨다
    그리드인경우 이런상황이 발생할수있음 */
    overflow: hidden;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)
}

.skills__title{
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2rem;
}

.skills__coding{
    grid-row: span 2;
    padding: 1rem;
    background-color: var(--color-primary);
}

.skills__tools{
    padding: 1rem;
}

.skills__etc{
    padding: 1rem;
    background-color: var(--color-primary);
    /* 프라이머리컬러의 150% 더밝게 해주기 */
    filter: brightness(150%);
}

.bar{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.bar__metadata{
    display: flex;
    justify-content: space-between;
}

.bar__bg{
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}

 .bar__value{
    height: 3px;
    background-color: var(--color-accent);
 }

 /* Work */
 #Work{
    background-color: var(--color-primary);
    color: var(--color-text);
 }

 .categories {
    display: flex;
    justify-content: center;
    margin: 2.5rem;
    gap: 1rem;
 }

 .category{
    position: relative;
    color: var(--color-text);
    font-size: 1.1rem;
    padding: 0.5rem 3rem;
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    white-space: nowrap;
 }

 .category--selected{
    background-color: var(--color-accent);
    color: var(--color-primary);
 }

 .category__count{
    opacity: 0;
    position: absolute;
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    /* 숫자를 수직으로 중긴정렬 */
    line-height: 28px;
    border-radius: 100%;
    background-color: var(--color-accent-variant);
    color: var(--color-text);
    transition: all 250ms ease-in;
 }

 .category--selected .catetory__count,
 .category:hover .category__count{
    opacity: 1;
    top: 0;
 }

 .projects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
 }

 .project{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
 }

 .project__img{
    width: 100%;
 }

 .project__metadata{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in;
    transform: translateY(-10px);
 }

 .project__metadata:hover {
    opacity: 0.8;
    transform: translateY(0px);
 }

 /* html에는 없는데 css에서만 가상으로 꾸며주기위한 용도
    :after */
 .project__title:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.5rem 0;
    width: 50px;
    height: 2px;
    background-color: var(--color-accent);
 }

 /* Testimonial */
 .testimonials{
    margin: 3rem;
 }

 .testimonial{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
 }
 
 /* 사진의 배치도바꾸기 왼 -> 오 */
 .testimonial:nth-child(even) .testimonial__img {
    order: 1;
 }

 .testimonial__img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

 .testimonial__bubble{
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

 .testimonial__bubble__name{
    color: var(--color-accent);
    font-weight: bold;
    filter: brightness(70%);
 }
/* Arrow up */
.arrow-up{
    background-color: var(--color-primary);
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 3px 3px 0px 0px var(--color-accent);
    transition: opacity 300ms ease-in;
}


 /* Footer */
 #Contact{
    background-color: var(--color-primary);
    color: var(--color-text);
 }

 .contact__links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
 }

 .contact__link{
    transition: color 250ms ease-in;
 }

 .contact__link:hover {
    color: var(--color-accent);
 }

 @media screen and (max-width: 768px) {
    .section {
        padding: 4rem 2rem;
    }

    .title {
        font-size: 1.8rem;
    }

    .description {
        font-size: 1rem;
    }

    .header{
        flex-direction: column;
        align-items: start;
        background-color: var(--color-primary);
    }

    .header__toggle{
        display: block;
    }

    .header__menu{
        display: none;
        flex-direction: column;
        text-align: center;
        margin: 1rem 4rem;
        gap: 1rem;
    }

    .header__menu.open {
        display: flex;
    }

    .header__nav {
        width: 100%;
    }

    #Home{
        padding-bottom: 3rem;
    }
    .home__title {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .majors {
        flex-direction: column;
        align-items: center;
    }

    .major {
        max-width: 25rem;
    }

    .job {
        justify-content: center;
    }

    .job__name {
        font-size: 0.98rem;
    }

    .job__period {
        font-size: 0.7rem;
    }

    .skills {
        grid-template-columns: 1fr;
    }

    .categories{
        flex-direction: column;
    }

    .category {
        width: 100%;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial {
        flex-direction: column;
    }

    .testimonial:nth-child(even) .testimonial__img {
    order: 0;
    }

    .arrow-up {
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        bottom: 1.5rem;
        right: 1.5rem;
    }

 }


