/* Global */
/* 다중 커서선택 : option + shift */
:root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);

    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;

    /* Size */
    --size-max-width: 1200px;
}

* {
    box-sizing: border-box;
}

body {
    /* 오픈산스가 에러날경우에 산스세리프로 */
    font-family: 'Open Sans', sans-serif;
    margin : 0;
}

h1,h2,h3,p,ul{
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    /* 링크 밑줄 지우기 */
    text-decoration: none; 
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline : 0;
    border : 0;
}

button:focus {
    outline: 1px solid var(--color-accent);
}

/* Common */
.section {
    padding: 4rem;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.2rem;
    margin:0.5rem 0;
}

.max-container{
max-width: var(--size-max-width);
margin: auto;
}
/* Header */
.header {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    /* 수직으로 중간정렬 */
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 36px;
    height: 36px;
}

.header__logo__title {
    font-size: 1.8rem;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    padding: 8px 16px;
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

/* Home */
#Home {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    /* 찌그러진 이미지의 원래 비율유지하기 */
    object-fit: cover;
    /* 보더를 동그랗게 */
    border-radius: 100%;
    border: 3px solid var(--color-accent)
}

.home__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;

}

.home__title--strong {
    color: var(--color-accent)
}

.home__description {
    font-size: 1.3rem;
}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    /* border 썼더니 호버했을때
    컨텐츠가 밀리는현상이 있어서 그걸 방지하기위해
    아웃라인을 사용 */
    outline: 2px solid var(--color-accent);
}

/* About */
.majors {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
}

.major {
    background-color: var(--color-primary-variant);
    padding : 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    cursor: default;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}

.major__icon{
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease;
}

.major__title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.major:hover .major__icon {
    transform: rotate(-15deg); scale(1.2);
}

.jobs {
    text-align: start;  
}

.job {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
}

.job__name {
    color: var(--color-primary);
    font-size: 1.1rem;
}

.job__name2{
    color: var(--color-primary);
    font-size: 0.85rem;
}
.job__period{
    color: var(--color-primary);
    font-size: 0.8rem;
}